<div class="row">
  <div class="twelve columns">
    <h2>Editing Documentation</h2>
    <hr />
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <%= render 'form' %>
  </div>
</div>


<div class="row">
  <div class="six columns">
    <%= link_to 'Show This Page', @documentation, :class => "small radius secondary button" %>
    <%= link_to 'Back to Listing ', documentations_path, :class => "small secondary radius button" %>
  </div>
</div>

