





<div class="row">
  <div class="twelve columns">
    <h2>Listing Jobs</h2>
    <hr />
  </div>
</div>

<script id="progressBarTemplate" type="text/template">
    <span id="job-data" data-job-id="{{= id }}"></span>
    <span style="width: {{= status.transcode.bytes/video.size * 100 }}%;" class="meter"></span> 
</script>


<script id="jobDetailsTemplate" type="text/template">
  {{% pullPercent = status.pull.bytes/video.size * 100 }}
  {{% transcodePercent = status.transcode.bytes/video.size * 100 }}
  <td><%= link_to '{{=id}}', 'jobs/{{=id}}' %></td>
  <td class="progressBar" >
    <span id="job-data" data-job-id="{{= id }}"></span>
    <div class="radius success progress twelve" >
      <span style="width:{{% if(pullPercent > 100) { }} {{=100}}{{% } else { }} {{=pullPercent}}{{% } }}%;" class="meter"></span> 
    </div>
    <div class="radius progress twelve" >
     <span style="width:{{% if(transcodePercent > 100) { }} {{=100}}{{% } else { }} {{=transcodePercent}}{{% } }}%;" class="meter"></span> 
    </div>

  </td>
  <td>{{= output_size }}</td>
  <td>{{= output_url }}</td>
  <td><%= link_to 'Destroy', 'jobs/{{=id}}', method: :delete, data: { confirm: 'Are you sure?' } %></td>

</script>



<div class="row">
  <div class="twelve columns">
    <table id="jobs-table" class="twelve ">
      <thead>
        <tr>
          <td>Job ID</td>
          <td>Status</td>
          <td>Output Size</td>
          <td>Output URL</td>
          <td>*</td>
        </tr>
      </thead>
    </table>
    <hr />
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Upload New Video', new_video_path, :class => "small radius button" %>
  </div>
</div>


<div class="row progress-bar">
</div>


</div>
