<div class="row">
	<div class="five columns centered">
      <h1>API Token</h1>
      <hr />
      <div class="token-container">
        <label>Your API token:</label>
        <input type="text" value="<%= @user.authentication_token %>" />
      </div>
	</div>
</div>
