
  <div class="row">

    <noscript>
      <div class="alert-box">
        Please enable Javascript for this application to function properly. 
      </div>
    </noscript>
  </div>

<!-- Header and Nav -->
  
  <div class="row">
    <div class="twelve columns">
      <ul class="nav-bar left">
        <li><a class="upload" href="#upload">Upload</a></li>
        <li><a class="convert" href="#convert">Convert</a></li>
        <li><a class="view" href="#view">View</a></li>
      </ul>
    </div>
    <hr />
  </div>
  
  <!-- End Header and Nav -->
  
  <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
      <div class="diagram">
        <div class="four columns">
          <div id="image-upload" class="circle upload red d-image">
            Upload
          </div>
        </div>
        <div class="four columns">
          <div id="image-convert" class="circle convert green d-image">
            Convert
          </div>
        </div>
        <div class="four columns">
          <div id="image-view" class="circle view blue d-image">
            View
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
  
  <!-- FIRST TEXT -->
  
  <div class="description row first">
    <div class="four columns">
       <h4>This is a First section.</h4>
      
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
    </div>
    <div class="eight columns">
      <h4>This is a First section.</h4>
      <div class="row">
        <div class="six columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="six columns">
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- UPLOAD TEXT -->
  
  <div class="description row upload" style="display: none;">
    <div class="four columns">
       <h4>This is a Upload section.</h4>
      
      <p class="red">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
    </div>
    <div class="eight columns">
      <h4>This is a Upload section.</h4>
      <div class="row">
        <div class="six columns">
          <p class="red">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="six columns">
          <p class="red">Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- CONVERT TEXT -->
  
  <div class="description row convert" style="display: none;">
    <div class="four columns">
       <h4>This is a Convert section.</h4>
      
      <p class="green">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
    </div>
    <div class="eight columns">
      <h4>This is a Convert section.</h4>
      <div class="row">
        <div class="six columns">
          <p class="green">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="six columns">
          <p class="green">Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>


  <!-- VIEW TEXT -->

  <div class="description row view" style="display: none;">
    <div class="four columns">
       <h4>This is a View section.</h4>
      
      <p class="blue">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
    </div>
    <div class="eight columns">
      <h4>This is a View section.</h4>
      <div class="row">
        <div class="six columns">
          <p class="blue">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="six columns">
          <p class="blue">Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  
<!--
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
-->
