
  <div class="row">

    <noscript>
      <div class="alert-box">
        Please enable Javascript for this application to function properly. 
      </div>
    </noscript>
  </div>

<!-- Header and Nav -->
  
  <div class="row">
    <div class="twelve columns">
      <ul class="nav-bar left">
        <li><a class="upload" href="#upload">Upload</a></li>
        <li><a class="initialization" href="#initialization">Initialization</a></li>
        <li><a class="conversion" href="#conversion">Conversion</a></li>
        <li><a class="output" href="#output">Output</a></li>
      </ul>
    </div>
    <hr />
  </div>
  
  <!-- End Header and Nav -->
  
  <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
      <div class="three columns">
        <div id="image-upload" class="circle upload red d-image">
          Upload
        </div>
      </div>
      <div class="three columns">
        <div id="image-initialization" class="circle initialization green d-image">
          Initialization
        </div>
      </div>
      <div class="three columns">
        <div id="image-conversion" class="circle conversion blue d-image">
          Conversion
        </div>
      </div>
      <div class="three columns">
        <div id="image-output" class="circle output yellow d-image">
          Output
        </div>
      </div>
    </div>
    <hr />
  </div>
  
  <!-- FIRST TEXT -->
  
  <div class="description row first">
    <div class="four columns">
       <h4>How We Do It</h4>
      
      <p>Here you can look at how our Video Processing Software-as-a-Service works. </p>
      
    </div>
    <div class="eight columns">
      <h3>Click around the diagram to see more.</h3>
      <div class="row">
        <div class="six columns">
        </div>
        <div class="six columns">
        </div>
      </div>
    </div>
  </div>

  <!-- UPLOAD TEXT -->
  
  <div class="description row upload" style="display: none;">
    <div class="four columns">
       <h4>Upload</h4>
      
      <p>Step 1: User initiates processing job; specifies URL for input video and parameters.</p>
      
    </div>
    <div class="eight columns">
      <h4>Upload</h4>
      <div class="row">
        <div class="six columns">
        </div>
        <div class="six columns">
        </div>
      </div>
    </div>
  </div>

  <div class="description row initialization" style="display: none;">
    <div class="four columns">
       <h4>Initialization</h4>
      
       <p>Step 2: Front-end receives request, logs info and hands it over to back-end. Back-end then pulls input video.</p>
      
    </div>
    <div class="eight columns">
      <h4>Initialization</h4>
      <div class="row">
        <div class="six columns">
        </div>
        <div class="six columns">
        </div>
      </div>
    </div>
  </div>

  <div class="description row conversion" style="display: none;">
    <div class="four columns">
       <h4>Conversion</h4>
      
       <p>Step 3: Back-end processes input video.</p>
      
    </div>
    <div class="eight columns">
      <h4>Conversion</h4>
      <div class="row">
        <div class="six columns">
        </div>
        <div class="six columns">
        </div>
      </div>
    </div>
  </div>

  <div class="description row output" style="display: none;">
    <div class="four columns">
       <h4>Output</h4>
      
       <p>Step 4: Backend distributes output as specified by user. </p>
      
    </div>
    <div class="eight columns">
      <h4>Output</h4>
      <div class="row">
        <div class="six columns">
        </div>
        <div class="six columns">
        </div>
      </div>
    </div>
  </div>

