div.diagram {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

.circle {
  margin: 20px auto;
  height: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 150px;
}

.circle.active {
  border: 9px solid #333;
}

.circle.upload:hover {
  background-color: #ff4d94; /* lighter red */
  cursor: pointer;
}
.circle.initialization:hover {
  background-color: #1aff8c; /* lighter green */
  cursor: pointer;
}
.circle.conversion:hover {
  background-color: #80bfff; /* lighter blue */
  cursor: pointer;
}
.circle.output:hover {
  background-color: #FAFAD2; /* lighter yellow */
  cursor: pointer;
}

.nav-how-ul {
  background: none;
  margin: 70px 0px 70px 40px;
}

#nav-how-li {
  background: #4d4d4d;
  float: left;
  display: block;
  position: relative;
  padding: 0;
  margin: 0 100px 30px 0;
  border: 1px solid #333333;
  border-right: none;
  line-height: 38px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;

}


.nav-arrow:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: none;
  border: 30px solid transparent;
  border-left-color: #4d4d4d;
  left: 95%;
  top: -28%;
}

.nav-arrow:hover:after {
  border-left-color: #333333;
}

#nav-how-li:hover {
  background: #333333;
}


.red {
  background-color: #FF0066;
}

.green {
  background-color: #00CC66;
}

.blue {
  background-color: #3399FF;
}

.yellow {
  background-color: yellow;
}

ul.nav-bar a.active {
  color: #2795b6;
}
