div.diagram {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

.circle {
  margin: 20px auto;
  height: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 150px;
}

.circle.active {
  border: 9px solid #333;
}

.circle.upload:hover {
  background-color: #ff4d94; /* lighter red */
  cursor: pointer;
}
.circle.initialization:hover {
  background-color: #1aff8c; /* lighter green */
  cursor: pointer;
}
.circle.conversion:hover {
  background-color: #80bfff; /* lighter blue */
  cursor: pointer;
}
.circle.output:hover {
  background-color: #FAFAD2; /* lighter yellow */
  cursor: pointer;
}

.red {
  background-color: #FF0066;
}

.green {
  background-color: #00CC66;
}

.blue {
  background-color: #3399FF;
}

.yellow {
  background-color: yellow;
}

ul.nav-bar a.active {
  color: #2795b6;
}
