$light_blue: #2BA6CB;
$gray: #A9A9A9;

.size-legend {
  div {
    padding-left: 5px;
    margin-bottom: 5px;
    &.original {
      border-left: 15px solid #22c9e3;    
    }
    &.output {
      border-left: 15px solid #67bf95;
    }
  }
}


.speed-legend {
  div {
    padding-left: 5px;
    margin-bottom: 5px;
    &.pullSpeed {
      border-left: 15px solid #DCDCDC;
    }

    &.transcodeSpeed {
      border-left: 15px solid #97BBCD;
    }
  }
}


.milestone-legend {
  div {
    padding-left: 5px;
    margin-bottom: 5px;
    &.pulling {
      border-left: 15px solid #F7464A;
    }

    &.chunking {
      border-left: 15px solid #D4C739
    }

    &.transcoding {
      border-left: 15px solid #B3F2F9;
    }

    &.merging {
      border-left: 15px solid #F209D4;
    }
  }
}

.job_status_bar {
  min-height: 60px;
  padding: 30px;
  background: $gray;
  border: 1px dashed black;

}

.tracker-pull {
  @extend .job_status_bar;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.tracker-tcoder {
  @extend .job_status_bar;

}

.tracker-chunker {
  @extend .job_status_bar;
}

.tracker-merger {
  @extend .job_status_bar;
 -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;

}

.center {
  text-align: center;
}

.complete {
  background-color: $light_blue;
}
