// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin table-base {
  td {
  }
}

#video-table {
  @include table-base;
  td:first-child {
    font-weight: bold;
  }

}

