 <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
			<p>This project is opensource on <a href="http://github.com/kenliau/Zooey">github.com/kenliau/Zooey</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

